* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
  }

.position-header {
    color: var(--text-color);
    width: 100%;
    text-align: center;
    font-family: Chakra Petch;
    font-size: 4rem;
}

.position {
    max-width: 95%;
    margin: 1rem auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 27%;
    font-family: Open Sans;
    color: var(--text-color);
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
}
  
.player {
  background-color: var(--background-card-color);
  border-radius: 1rem;
  border: 1px solid var(--secondary-color);
  height: 100%;
  width: 100%;
}
  
.player img {
  width: 12rem;
  margin: auto;
  display: block;
  height: auto;
}

.player-info {
    display: block;
    text-align: center;
    font-family: Chakra Petch;
    margin: 0.25rem;
}

.person-fullname {
    font-weight: bold;
    display: block;
    font-size: 1.75rem;
}

.person-jerseynumber,
.person-position-name {
    display: block;
    font-size: 1rem;
}

.player:hover {
    transform: scale(1.15);
    transition: 0.25s;
    box-shadow: 14px 11px 5px black;
}

.player:not(:hover) {
    transform: scale(1);
    transition: 0.5s;
}

@media screen and (max-width: 1420px) {
    .position-header {
        font-size: 3.75rem;
    }

    .card {
        width: 30%;
    }
        
    .player img {
      width: 9rem;
    }
    
    .person-fullname {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 1052px) {
    .position-header {
        font-size: 3rem;
    }

    .card {
        width: 40%;
    }
        
    .player img {
      width: 12rem;
    }
    
    .person-fullname {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 834px) {
    .position-header {
        font-size: 4rem;
    }

    .player:hover {
        transform: none;
        transition: none;
        box-shadow: none;
    }

    .card {
        width: 90%;
        display: flex;
        align-items: center;
    }

        
    .player img {
        width: 16rem;
        float: left;
    }
    
    .person-fullname {
        font-size: 2.6rem;

    }

    .person-jerseynumber,
    .person-position-name {
        font-size: 2rem;
    }
}


@media screen and (max-width: 663px) {
    .position-header {
        font-size: 4rem;
    }

    .player:hover {
        transform: none;
        transition: none;
        box-shadow: none;
    }

    .card {
        width: 100%;
        display: flex;
        align-items: center;
    }

        
    .player img {
        width: 10rem;
        float: left;
    }
    
    .person-fullname {
        font-size: 2rem;

    }

    .person-jerseynumber,
    .person-position-name {
        font-size: 1rem;
    }
}

@media screen and (max-width: 485px) {
    .position-header {
        font-size: 3rem;
    }

    .player:hover {
        transform: none;
        transition: none;
        box-shadow: none;
    }

    .card {
        width: 100%;
        display: flex;
        align-items: center;
    }

        
    .player img {
        width: 100%;
        float: left;
    }
    
    .person-fullname {
        font-size: 1.75rem;

    }

    .person-jerseynumber,
    .person-position-name {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 350px) {
    .position-header {
        font-size: 2rem;
    }
}