.card {
    background-color: var(--background-card-color);
    border-radius: 12px;
    border: 1px solid var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: left;
    width: calc(33% - 15px);
    margin: 0.25rem;
    box-sizing: border-box;
}

.player {
    padding: 0.75rem;
}

.player-img {
    max-width: 100%;
    height: auto;
}

.player-info {
    text-align: center;
}

.person-fullname {
    font-family: 'Righteous', sans-serif;
    color: var(--text-color);
    font-size: 1.4rem;
}

.person-jerseynumber {
    margin: 0 auto;
}

.person-position-code {
    display: block;
    margin: 0 auto;
}
