:root {
    --text-color: #f3f3f3; /* Cor do texto principal */
    --background-color: #1b1b1b; /* Cor primária */
    --secondary-color: #0000ff; /* Cor secundária */
    --background-card-color: #969696;
  }