* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    background-color: #0000ff;
    margin-bottom: 2.25rem;
}

.team-logo {
    width: 150px;
    height: 56px;
}

.team-name {
    width: 500px;
    height: 30px;
    display: block;
    margin-right: auto;
}

.enterprise-logo {
    width: 150px;
    display: block;
    margin: auto;
    height: 56px;
    margin: 30px;
}

/* BODY */

.body {
    background: #1b1b1b;
}

/* FOOTER */

.footer {
    background-color: blue;
    display: block;
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-text {
    padding: 1.5rem;
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
}

.nhl-logo-footer {
    height: 1.75rem;
    display: block;
    margin: auto;
}
  
