* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* HEADER */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0000ff;
    margin-bottom: 2.25rem;
}

.team-logo {
    width: 150px;
    height: 56px;
}

.enterprise-logo {
    width: 150px;
    display: block;
    margin: auto;
    height: 56px;
    margin: 30px;
}

/* BODY */

.body {
    background: #1b1b1b;
}

/* FOOTER */

.footer {
    background-color: var(--secondary-color);
    display: block;
    padding: 0.75rem;
}

.footer-text {
    padding: 1.5rem;
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
}

.nhl-logo-footer {
    height: 2.75rem;
    display: block;
    margin: auto;
}
  
@media screen and (max-width: 350px) {
    .header {
        margin-bottom: 2rem;
    }

    .team-logo,
    .enterprise-logo {
        width: 80px;
        height: 29px;
    }
    
    .enterprise-logo {
        display: block;
        margin: auto;
        margin: 15px;
    }

}